.topContainer {
	display: flex;
	flex-direction: column;
	background: #f5f7fd;
	padding: 1rem 2rem 2rem 2rem;
}
.title {
	font-size: 1.8rem;
	color: var(--primary);
	margin: 10px 0;
	text-align: center;
}

.container {
	padding: 3rem 2rem;
}
.container .content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
	grid-gap: 15px 10px;
}

.container .container_header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.container .container_header .founded {
	font-size: 16px;
	font-weight: 500;
	color: var(--mainText);
	margin: 10px 0;
}
.filterToggleBtn {
	border: none;
	outline: none;
	background-color: #f5f7fd;
	color: var(--primary);
	display: flex;
	align-items: center;
	font-size: 15px;
	padding: 17px 2rem;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px 0;
	transition: all 0.3s;
}
.filterToggleBtn:hover {
	background-color: var(--primary);
	color: #fff;
}
.filterToggleBtn .icon {
	margin-right: 5px;
	margin-left: 5px;
}

.filterBox {
	height: 0;
	background-color: #f5f7fd;
	display: grid;
	grid-gap: 20px 10px;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	overflow: hidden;
	transition: height 0.3s;
}
.filterBox.active {
	padding: 20px 20px;
	margin-bottom: 2rem;
	height: auto;
}
.filterBox .filterItem {
	max-height: 220px;
	overflow: auto;
}
.filterBox .filterItem .filterName {
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 5px;
}

.instructors {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 10px;
}

@media (max-width: 400px) {
	.topContainer {
		padding: 1rem 10px 2rem 10px;
	}
	.container {
		padding: 3rem 10px;
	}
	.container .container_header .founded {
		font-size: 15px;
	}
	.container .content {
		grid-template-columns: 1fr;
	}
}
